*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-image: url(../img/jumbo.png);
    background-size: cover;
}
.bg{
    /* background-color: #ADD8E6; */
    padding-top: 1em;
    padding-bottom: 1em;  
}
.fa-brands{
    color: white;
}
nav>a{
    text-decoration: none;
    color: white;
    margin-right: 0.5em;
}
button{
    border: none;
    border-radius: 10px;
    padding: 4px 4px 4px 4px;
    height:3rem;;
}

.flexcontainer{
    display: flex;
    align-items: center;
    /* background-color: #DAA520; */
    justify-content: space-between;
    max-width:70%;
    margin: 0 auto;
    padding-left: 1em;
    padding-right: 1em;
    min-height: 3em;
}
.flexblue{
    display: flex;
    /* background-color: blue; */
    min-height: 500px;  
    align-items: center;
    justify-content: center; 
}
.titolo{
    min-height:80%;
    width:60%;
    margin:50px auto;
    color: white;
    text-align: center;
}
.sottotitolo{
    margin-top: 60px;
    margin-bottom: 30px;
    line-height: 2rem;
}
.bgblack{
    background-color: #23272A;
    color: white; 
}
/* fine header */
h2{
    font-size: 32px;
}
.container{
    min-height: 600px;   
    padding-top: 50px;
}
.flexmain{
    display: flex; 
    margin: 0 auto;
    width: 70%;
    min-height: 500px;
}
.immagine{
    background-repeat: no-repeat;
    width: 66%;
}
.immagine.rana{
    background-image: url(../img/item1.svg);
}

.descrizione{
    width: 33%;
    margin-top: 40px;
}
.sottotitolodesc1{
    
    line-height: 2rem;
    margin-top: 100px;
}
.sottotitolodesc2{
    margin-top: 40px;

}
.sottotitolodesc3{
    margin-top: 40px;
    line-height: 1.5rem;
}
.container.grigio{
    background-color: #D3D3D3;
    margin-top: 50px;
}
.immagine.mago{
    background-image: url(../img/item2.svg);
}
.immagine.alieno{
     background-image: url(../img/item3.svg);
}

.container.titoloimg{
    background-color: #D3D3D3;
    min-height: 1000px;
}
.specifiche{
    margin-bottom: 40px;
}
.flexmain.bigimg{
    flex-direction: column;
    min-height: 900px;
    align-items: center;
}
.immagine.sfondo{
    background-image: url(../img/item4-big.svg);
    height: 550px;
    width: 600px;
    background-size: contain;
}
.immagine.stelle{
    background-image: url(../img/stars.svg);
    background-size: contain;
}
.grigioscuro{
    min-height: 740px;
    background-color: #23272A;
}
.bandierina{
    display: inline-block;
    width: 40px;
    height: 40px;
    background-image:url(../img/ita.png);
    background-repeat: no-repeat;
    background-size: contain;
    vertical-align: middle;
}
h3,h4{
    color: #7289DA;
}
h5{
    color: white;
    line-height: 2rem;
}
.nazionalità{
    margin-left: 4px;
    color: white;
}
.flexfooter{
    display: flex;
    margin: 0 auto;
    width: 70%;
    min-height:570px;
    padding-top: 50px;
    padding-bottom: 50px;
}
.immagine.flexcolumn{
    display: flex;
    margin: 0 auto;
}
.perc{
    width: calc(100% /4);
}
hr{
    color: white;
}
.noteflex{

    display: flex;
    margin: 0 auto;
    max-width: 70%;
    min-height: 80px;
    justify-content: space-between;
    margin-top: 40px;
    align-items: center;
}
.celeste{
    background-color: #8EA1E1;
}