*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}
button{
    padding: 10px;
    border-radius: 20px;
}
p{
    line-height: 1.5em;
}
header{
    background-image: url(./img/jumbo.png);
    background-repeat: no-repeat;
    background-size: cover;
}
h2{
    font-weight: 900;
    font-size: 2em;
    margin-bottom: 20px;
}
.flex-container{
    display: flex;
}
nav{
    
    align-items: center;
    padding-block: 20px;
}
ul li{
    list-style-type:none ;

}
a{
    text-decoration: none;
    color: white;
}
header nav+div{
    padding-block: 60px;
    color: white;
}
ul,.dir-col{
    gap:20px
}

.dir-col{
    flex-direction: column;
    gap: 10px;
    /* align-items: center; */
}
img{
    width: 100%;
    display: block;
}
.m-w70{
    max-width: 70%;
}
.gap-l{
    gap: 80px; 
}
.col1{
   flex-basis: 70%;

}
.col2{
    flex-basis: 30%;
    padding-block: 40px;
  
}
main section.pari{
    background-color: lightgray;
}
section{
    padding-block: 100px; 
   
}
footer{
    padding-block: 50px;
    color: white;
}
.col-1{
    flex-basis: 35%;
}
.col{
    flex-basis: calc(100% / 4)

}
hr{
    margin-block: 100px;
}
.centrato{
    margin-inline: auto;
}
.between{
    justify-content: space-between;
}
.text-center{
    text-align: center;
}
h1+p{
    margin-block: 40px;
}
.pari .col2{
    order: -1;
}
/* .starred{
    max-width: 40%;
    background-image: url(./img/stars.svg);
    background-repeat: no-repeat;
    margin-bottom: 40px;
    
} */
footer h3{
    color: #7289DA;
}
.bg-blu{
    background-color: #7289DA;
}
.bg-gray,footer{
    background-color: #23272A;
}

/* .wave{
    background-image: url(./img/wave.svg);
    background-size: cover;
    padding-block: 50px;
} */